body {
  font-family: Arial, sans-serif;
  background: #e9eaee;
  color: rgb(245, 237, 237);
  margin: 0;
  padding: 0;
}
h2{
  text-align: center;
}
.h2{
  text-align: center;
  color: black;
}
.contact {
  padding: 40px;
  text-align: center;
}

form {
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
  width: 300px;
  margin: 20px auto;
}

.field, .message {
  position: relative;
  margin: 15px 0;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  
}

button {
  background: #ec4899;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #db2777;
}

/* Admin Page */
.hidden { display: none; }

.login-box {
  width: 300px;
  margin: 100px auto;
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.login-box input {
  display: block;
  margin: 10px auto;
  padding: 8px;
  width: 90%;
  border-radius: 6px;
  border: none;
}

table {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
  background: #1e293b;
}

th, td {
  padding: 10px;
  border: 1px solid #e7ebef;
  text-align: center;
}

.delete-btn {
  background: crimson;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}
.delete-btn:hover {
  background: darkred;
}

#logout-btn {
  display: block;
  margin: 20px auto;
  background: crimson;
}
#logout-btn:hover{
  background-color: rgb(206, 3, 3);
  scale: calc(0.9);
  transition-duration: 500ms;
}